/*This sets overall settings for the webpage, which can be changed in each section */
body{
    /* With a default font size set here, the rest of the page can use character units (ch) for better adaptability */
    font-size: 16px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    text-align: left;
    color: #333;
    scroll-behavior: smooth;
    background-color: #f8e0e8 ; /* page overall background */
}


/* Style for calculator tips heading */
#tips{
    background-color: lavender;
    text-align: left;
    margin: 0 2ch 0 2ch;
    padding: 1ch 0 0 0;
}

.calculator-tips{ 
    margin: 1ch;
    border: 0;
    padding: 0;
    font: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; /*Handles horizontal alignment*/
    align-items:start;  /*Handles vertical alignment */
}

/* Styles first box in calculator tips section */
.calculator-tips>div:nth-child(1){
    background-color: lavender;
    flex: 1;
    padding: 2ch;
    text-align: left;
}

/* Styles first box in calculator tips section */
.calculator-tips>div:nth-child(2){
    background-color: lavender;
    flex: 1;
    padding: 2ch;
    text-align: left;
}


/* Style for Calculator section */
.calculator-section{
    background-color: lavender;
    margin: 0 2ch 0ch 2ch;
    border: 0;
    padding: 0;
    font: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; /*Handles horizontal alignment*/
    align-items:center;  /*Handles vertical alignment */
}


/* Style for Calculator textbox */
#calculator-input{
    background-color: lavender;
    margin: 1ch;
    border: 2ch;
    padding: 1ch 1ch ;
    text-align: center;
    
    input[type="text"] {
    width: 20ch;
    height: 1ch;
    padding: 0.875ch;
    font-size: 2ch;
    border-radius: 0.5ch;
    border-color: black solid;
    font-family: Arial, Helvetica, sans-serif;
}
}


/* Style for calculate button - Uses Rem units, as this works well for buttons */
#calculate-button{
    align-self: auto;
    justify-content: center;
    height: 3rem;
    width: 7rem;
    background-color:#d4c4e0 ; /* Color of button- light orchid*/
    margin: 1rem;
    border: 0.1rem solid black;
    padding: 0.25rem 0.25rem; /*rem works well for button dimensions*/
    font-size: 1rem;
    font-weight: 1500;
    border-radius: 2ch;
    cursor: pointer;
    transition-duration: all 0.2s ease;
}

/* Formats the calculate button on hover */
#calculate-button:hover{
    transform: translateY(1ch);
    /*shifts the button vertically by 1 character space on hover*/  
    background-color: whitesmoke;
}

#calculate-button:active {
    transform: translateY(-1ch);  /*Shifts the button back to orginal veritcal position on clicking */
    box-shadow: 0 2px 10px rgba(240, 202, 215, 0.4);
}

        
/* CALCULATOR RESULT SECTION */
/* The color is lavender, and the borders have been formated to merge with .calculator.section */
#result{
    background-color: lavender;
    margin: 0 2ch 2ch 2ch;
    border: 0 2ch 2ch 2ch;
    padding: 1ch 2ch 6ch 2ch;
    text-align: left;
}


/* QUADRATIC EQUATION CALCULATOR */
.quadratic{
    background-color: #e7c7e7;
    margin: 0 2ch 2ch 2ch;
    padding: 1ch 0 20ch 0;
}

#quadratic-tips{
    padding: 1ch;
}

#quadratic-input{
    input[type="number"] {
    width: 6.5ch;
    height: 2ch;
    padding: 1ch;
    border-radius: 0.5ch;
    font-size: 1.5ch;
    font-family: Arial, Helvetica, sans-serif;
}
}


/* formatting the Quadratic solve button- repeats much of the formatting from the earlier button */
#solve button{
    align-self: auto;
    justify-content: center;
    height: 3rem;
    width: 7rem;
    background-color:#d4c4e0 ; /* Color of button- light orchid*/
    margin: 1rem;
    border: 0.1rem solid black;
    padding: 0.25rem 0.25rem; /*rem works well for button dimensions*/
    font-size: 1rem;
    font-weight: 1500;
    border-radius: 2ch;
    cursor: pointer;
    transition-duration: all 0.2s ease;
}

#solve button:hover{
    transform: translateY(1ch);  /*shifts the button vertically by 2 pixels on hover*/
    background-color: whitesmoke;
}

#solve button:active {
    transform: translateY(-1ch);  /*Shifts the button back to orginal veritcal position on clicking */
    box-shadow: 0 2px 10px rgba(240, 202, 215, 0.4);
}


/* Formatting the quadratic answers */
#answer{
    background-color: #e7c7e7;
    margin: 1ch 2ch 2ch 2ch;
    border: 0 0 0 0;
    text-align: left;  
}


/*Text alignment */
h1 {text-align: center;}
h3 {text-align: center;}
div {text-align: center;}
